<!-- app/components/album_form_component.html.erb -->
<%= simple_form_for @album, html: { class: "space-y-6", multipart: true } do |f| %>
  <div class="relative grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="space-y-4 w-full">
      <%= f.input :title, 
                  label: 'album title',
                  label_html: { class: "font-alt text-h4 uppercase text-slate-500" },
                  input_html: { class: "block px-2 py-2 w-full bg-white font-base text-sm text-smoke focus:border-indigo-500 focus:ring-indigo-500" } %>
                  
      <%= f.input :description, as: :text, 
                  label: 'album description',
                  label_html: { class: "font-alt text-h4 uppercase text-slate-500" },
                  input_html: { class: "block px-2 py-2 w-full bg-white font-base text-sm text-smoke focus:border-indigo-500 focus:ring-indigo-500", rows: 4 } %>
                  
      <%= f.input :release_date,
                  as: :date,
                  html5: true,
                  label_html: { class: "font-alt text-h4 uppercase text-slate-500" },
                  input_html: { class: "block px-2 py-2 w-full bg-white font-base text-sm text-smoke focus:border-indigo-500 focus:ring-indigo-500" } %>
    </div>
    
    <div class="space-y-4">
      <%= f.input :cover_image, as: :file, 
      wrapper_html: { class: "w-full" },
                  label_html: { class: "block font-alt text-h4 uppercase text-slate-500" },
                  input_html: { class: "w-full max-w-full font-title text-sm text-smoke/60 bg-white rounded-xl px-4 py-2 shadow-sm", direct_upload: true }
                   %>
                  
      <% if @album.cover_image.attached? %>
        <div class="mt-2">
          <p class="text-sm text-gray-500">Current cover:</p>
          <%= image_tag @album.cover_image.variant(resize_to_limit: [200, 200]), class: "mt-2 rounded-md shadow-sm" %>
        </div>
      <% end %>
      
      <%= f.input :royalty_percentage,
                  as: :numeric,
                   label_html: { class: "font-alt text-h4 uppercase text-slate-500" },
                  input_html: { class: "block px-2 py-2 w-full bg-white font-base text-sm text-smoke focus:border-indigo-500 focus:ring-indigo-500", min: 0, max: 100, step: 0.1 } %>
                  
      <%= f.association :genres, 
                        collection: @genres,
                        as: :check_boxes,
                        wrapper_html: { class: "mt-4" },
                        label_html: { class: "font-alt text-h4 uppercase text-slate-500" },
                        input_html: { class: "block px-2 py-2 w-full bg-white font-base text-sm text-smoke focus:border-indigo-500 focus:ring-indigo-500" } %>
    </div>
  </div>
  
  <div class="mt-6 flex justify-end">
    <%= link_to root_path, class: "inline-flex items-center px-4 py-2 uppercase text-base font-alt tracking-wide text-smoke hover:text-smoke/50" do %>
  Cancel
<% end %>
    <%= f.button :submit, class: "inline-flex items-center bg-slate-100 text-smoke font-base text-sm border-b-1 border-slate-800/30 rounded-md px-8 py-2 shadow-none transition-all duration-300 ease-in-out hover:bg-smoke hover:text-white" %>
  </div>
<% end %>

