 <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">Your Latest Album</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Created <%= time_ago_in_words(@album.created_at) %> ago</p>
    </div>
    <div>
      <%= link_to "View Details", album_path(@album), class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200" %>
    </div>

    <div>
         <% if @album.cover_image.attached? %>
          <%= image_tag @album.cover_image.variant(resize_to_limit: [300, 300]), class: "rounded-md shadow-sm w-full" %>
        <% else %>
          <div class="bg-gray-200 rounded-md w-full h-64 flex items-center justify-center">
            <svg class="h-24 w-24 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3" />
            </svg>
          </div>
        <% end %>
    </div>

    <div>
        <h2 class="text-2xl font-bold text-gray-900"><%= @album.title %></h2>
          <p class="mt-4 text-gray-600 line-clamp-3"><%= @album.description %></p>
    </div>