<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6 text-slate-600">SolanaMusicNFT</h1>
  
  <p class="mb-6 text-slate-600">Plateforme de musique NFT sur Solana</p>
  
  <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded">
    Si vous voyez cette page, votre application Rails fonctionne correctement!
  </div>

   <% if user_signed_in? %>
    <p>Hello, <%= current_user.username %> !</p>
    <!-- Contenu pour utilisateur connecté -->
  <% else %>
    <p class="text-red-500">You are not connected ! Discover Music</p>
    <!-- Contenu pour visiteur -->
  <% end %>

<!-- message to invite new users to complete their profile -->
<% if user_signed_in? && (current_user.bio.blank? || !current_user.profile_image.attached?) %>
  <div class="bg-yellow-50 border-l-4 border-yellow-400 p-4 mb-6">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <p class="text-sm text-yellow-700">
          Your profile is incompleted. 
          <%= link_to "Click here to complete it", edit_profile_path, class: "font-medium underline text-yellow-700 hover:text-yellow-600" %>
        </p>
      </div>
    </div>
  </div>
<% end %>

 <% if @albums.present? %>
  <h2 class="text-xl font-bold mt-8 mb-4">Albums récents:</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @albums.each do |album| %>
      <div class="bg-(--color-main) rounded-lg shadow-md overflow-hidden">
        <div class="p-4">
          <h3 class="font-bold text-lg"><%= album.title %></h3>
          <p class="text-gray-600">Par <%= album.user.username %></p>
          <p class="mt-2"><%= album.description %></p>
          <p class="mt-2 text-sm text-gray-500">
            <%= album.tracks.count %> pistes • 
            <%= album.release_date.strftime("%d/%m/%Y") %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>


