<!DOCTYPE html>
<html>
  <head>
    <title>Monotone Panda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <link rel="icon" type="image/png" sizes="32x32" href="/panda.png">
  </head>

 <body class="w-full min-h-screen flex flex-col bg-gradient-to-tl from-gray-100 to-gray-300 hide-required-markers">

     <%= render(NavbarComponent.new(
      user_signed_in: user_signed_in?,
      current_user: current_user
    )) %>


    <main class="container mx-auto mt-20 py-8 flex-col flex-grow">
       <%= render 'shared/flash_messages' if defined?(render_flash_messages) %>
      <%= yield %>
    </main>

    <div class="mt-auto">
      <%= render(FooterComponent.new) %>
    </div>
  </body>
</html>


    
  