<!DOCTYPE html>
<html>
  <head>
    <title>SolanaMusicNft</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

 <body class="min-h-screen flex flex-col bg-gradient-to-tl from-gray-100 to-gray-300">

     <%= render(NavbarComponent.new(
      user_signed_in: user_signed_in?,
      current_user: current_user
    )) %>


    <main class="container mx-auto mt-28 px-6  flex-col  text-slate-300">
       <%= render 'shared/flash_messages' if defined?(render_flash_messages) %>
      <%= yield %>
    </main>

    <%= render(FooterComponent.new) %>
  </body>
</html>


    
  